<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Osoba nije pronađena</title>
    <link rel="stylesheet" href="/css/not-found.css">
</head>
<body>
<div class="container not-found">
    <h1>Rezultati pretrage za: <%- query %></h1>
    <p>Osoba koju tražite nije pronađena u sistemu.</p>
    <button onclick="window.location.href='/'">Natrag na početnu stranicu</button>
</div>
</body>
</html>